/** Global Styles **/

body {
	background-color:  white;
}
.page-header {
  color: orange;
  border-bottom: 2px dotted orange;
}

#navbar {
	background-color: #fff2e6;
	background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}
.name.navbar-brand {
	font-size: 40px;
	color: orange;
	font-weight: 700;
	line-height: 55px;
}

.name.navbar-brand:hover {
	color: coral;
}

.menu.nav.navbar-nav {
	font-size: 16px;
	line-height: 55px;
	padding-top: 15px;
}

.menu.nav.navbar-nav {
	float: right;
}
.navbar-default .navbar-nav > li > a:hover {
	color: coral;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus {
	background-color: orange;
	color: #f8f8f8;
}

.navbar-default .navbar-nav > .active > a:hover {
	background-color: coral;
	color: #f8f8f8;
	font-weight: 500;
}

.btn-primary {
	background-color: orange;
	border-color: orange;
}

.btn-primary:hover {
	background-color: coral;
	border-color: coral;
}

.block-title {
	border-bottom: 2px dotted orange;
	line-height: 50px;
	text-align: center;
	margin-top: 0;
}

a {
	color:orange;
}

a:hover {
	color: coral;
	font-weight: 600;
}

/** Book View Styles **/
.view-book-title {
	color: orange;
	font-weight: bold;
}

.views-field-field-book-image{
	padding-top: 2em;
	padding-bottom: .5em;
	width:100%;
}


/**Footer Styles **/

td, th #block-views-daily-hours-block-1  {
	padding-right: 2em;
}

.views-view-grid.cols-7 {

}

.footer {
	border-top: 2px dotted orange;
	padding: 1em;
	margin-bottom: 1em;
	
}
/** Front Page Styles **/

.front .page-header {
	display: none;
}

.field.field-name-body.field-type-text-with-summary.field-label-hidden {
	text-align: center;
}


/** Staff View Styles **/

.view-staff .col-1 {
	width: 50%;
}

.view-staff .views-field-title {
	font-size: 1.5em;
	font-weight: 600;
}

.view-staff .views-field-field-job-title- {
	padding-bottom: .7em;
}

.views-field-field-staff-member-image .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
	padding-bottom: 2em;
}

.view-staff .views-field-body {
	padding-bottom: 2em;
}

/** About Us **/

.field.field-name-field-page-image.field-type-image.field-label-hidden {
	padding-bottom: 2em;
	width: 100%;
}