.site-container .site-title-container .site-title {
    margin-top: 0;
}
img {
	width: 100%;
	height:auto;
}

.blog-image {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}

.blog-title {
	position: absolute;
	bottom: 0;
	background: rgba(0,0,0, .8);
	color:white;
	width: 100%;
}

h2 {
	margin-bottom: 0px;
}

.blog-date {
	display: block;
	text-align: right;
	font-size: .9em;
	padding-bottom: .3em;
	margin-bottom: 0;
}

.blog-image-caption {
	display: block;
	padding-top: -20px;
}

.blog-list-title a {
	text-decoration: none;
}

.blog-list-title a:hover {
	text-decoration: underline;
}

.blog-list-date {
	font-size: .5em;
}

.blog-list-item {
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.two-column-gallery-img {
	width:48%;
	display: inline-block;
}