.html {
	min-width: 550px;
}
body {
     padding: 0;
     margin: 0;
     background: white;
	 
}
 .left {
     float: left;
}
 .full-width {
     width: 100%;
}
 .site-container .header-wrapper {
     width: 100%;
     background: transparent url("../img/books.jpg") no-repeat center top;
     background-size: cover;
     height: 300px;
}
 .site-container .container {
     position: relative;
     width: 80%;
     margin: 0 auto;
}
 .site-container .container .inner-container {
     padding: 1em;
}
 .site-container .container .inner-container.title {
     padding-top: 0;
     padding-bottom: 0;
}
 .site-container .container .inner-container.title h1 {
     margin: 0;
}
 .site-container .site-title-container {
     position: absolute;
     width: 100%;
     text-align: center;
     top: 0;
     padding: 7em 0;
}
 .site-container .site-title-container .site-title {
     margin-top: -1em;
}
 .site-container .menu-container {
     text-align: center;
}
 .site-container .menu-container ul {
     padding: 0;
     margin: 0;
}
 .site-container .menu-container ul li {
     display: inline-block;
     padding-right: .5em;
     margin-right: .5em;
     border-right: 2px solid #000;
     border-color: orange;
}
 .site-container .menu-container ul li:last-of-type {
     margin-right: 0;
     border: 0;
}
 .site-container .content-container {
     background: #fff;
     background: rgba(255, 255, 255, 0);
     margin-top: 0;
}
 .site-container .tab-container {
     margin: 0 1em 1em 1em;
}
 .site-container .tab-container ul.tabs, .site-container .tab-container ul.primary {
     padding: 0;
     margin: 0;
}
 .site-container .tab-container ul.tabs li, .site-container .tab-container ul.primary li {
     display: inline-block;
     margin-right: 5px;
     padding: .25em 0;
}
 .site-container .tab-container ul.tabs li:last-of-type, .site-container .tab-container ul.primary li:last-of-type {
     margin: 0;
}
 .site-container .tab-container ul.tabs li a, .site-container .tab-container ul.primary li a {
     padding: .25rem .5rem;
     margin: 0;
}
 .site-container .main-content .content {
     padding-right: 1em;
}
 .site-container .main-content.full-width .content {
     padding: 0;
}
 .footer-container {
     background: #ffc14d;
}
table.views-view-grid.cols-3 {
	margin-left:auto;
	margin-right: auto;
}

div#block-views-books-block {
	text-align: center;
}

div.more-link {
	text-align: center;
}


table.views-view-grid.cols-2 {
	margin-left: auto;
	margin-right: auto;
}

div.field-content{
	padding-right: 20px;
}

div.description {
	display: none;
}

.views-exposed-widgets.clearfix {
	margin-left: 30%;
    margin-right: 30%;
    width: 40%;
	min-width: 330px;
}

.views-view-grid .cols-3 {
	width: 90%;
}


.view-id-staff {
	text-align: left;
}


.node-book {
	text-align: left;
}