@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans");

/* 

font-family: 'Abril Fatface', cursive; header
font-family: 'Open Sans', sans-serif; body 

*/

/* General Body Styles*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
}

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Abril Fatface', cursive; }

.element-invisible {
  display: none; }

.tab-container ul.tabs li a {
  text-decoration: none;
  color: #30176a;
  border: 1px solid #30176a;
  padding: .25em .5em;
  top: 1px; }
  .tab-container ul.tabs li a.active {
    background: #fff;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #000; }

/*header */
.site-title {
  font-family: 'Abril Fatface', cursive;
  font-size: 4em; }
  .site-title p {
    display: inline-block;
    margin-top: .5em;
    color: orange;
    width: auto;
    padding: .45em;
    border-top: 1.5px dotted orange;
	border-bottom: 1.5px dotted orange;
   }

/* Menu Styles */
a {
  color: darkorange;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none; 

}
a:hover {
    color: lightcoral;
	text-decoration: underline;
	text-decoration-style:double;
}

li a.active, .pager-current {
	color: lightcoral;
	font-weight: bold;
	text-decoration: underline;
}

/* Footer Styles */
.footer-content {
  font-size: 1em; }

img {
	padding-right: 1em;
	padding-bottom: .5em;
	padding-top: .5em
}

a {
	color: orange;
}

a:hover {
	color: coral;
}

.view-header {
	text-align: center;
}

